*{
  align-items: center;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Index page */

p {
  color: #b3b3b3;
  font-weight: 300; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}
  
a:hover {
    text-decoration: none !important; 
  }

h2 {
  font-size: 20px; 
}

.form-block {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  margin: auto;
  margin-top: 5%;
  padding: 60px;
  width: 50rem;
  border-color: rgb(0, 191, 255);
  border-radius: 2rem;
  border-width: 5rem;
  box-shadow: 10px 10px lightblue;
}

.form-block .mb-4 h1{
  text-align: center;
}

@media (max-width: 991.98px) {
    .form-block {
      padding: 30px; } 
  }

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px; } 
  }

.form-block label{
  font-size: 1.25rem;
}

.mb-4 h1 {
  font-weight: 700;
}

.content .contents, .content .bg {
  width: 50%; 
}

@media (max-width: 1199.98px) {
    .content .contents, .content .bg {
      width: 100%; } 
  }

.content {
  display: flex;
  justify-content: center;
}

.content a {
  color: black;
  text-decoration: none; 
}

.content .btn {
  border-color: lightblue;
  border-width: 5px;
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; 
}

.content .btn:hover {
  background-color: rgb(94, 199, 234);
}

.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; 
}

/* .text-center {
  backdrop-filter: blur(10px);
} */

.btn-bottom {
  width: 10rem;
  height: 2.5rem;
  border-color: lightblue;
  border-width: 5px;
  border-radius: 2rem;
}

.btn-bottom:hover {
  background-color: rgb(94, 199, 234);
}


/* login page  */


